/* 
    Document   : table
    Created on : Jun 12, 2013, 4:32:22 PM
    Author     : srm
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
#container{

    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
#righttaaa{
  
   
}
#leftta{
  
   
}
#righttaa{
 
}